:root {
  font-size: 12px;

  --background-color: rgb(255 192 203 / 100%);
  --text-color: rgb(0 0 0 / 90%);
  --primary-color: rgb(140 31 98);
  --secondary-color: rgb(123 84 129);
  --brand-gradient: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  --light-color: rgb(255 192 203 / 100%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(0 0 0 / 90%);
    --text-color: rgb(255 192 203 / 100%);
    --primary-color: rgb(123 84 129);
    --secondary-color: rgb(140 31 98);
  }
}

:root.dark-theme {
  --background-color: rgb(0 0 0 / 90%);
  --text-color: rgb(255 192 203 / 100%);
  --primary-color: rgb(123 84 129);
  --secondary-color: rgb(140 31 98);
}

:root.light-theme {
  --background-color: rgb(255 192 203 / 100%);
  --text-color: rgb(0 0 0 / 90%);
  --primary-color: rgb(140 31 98);
  --secondary-color: rgb(123 84 129);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

::selection {
  background: var(--text-color);
  color: var(--background-color);
}

body {
  line-height: 1.75;
  font-size: clamp(1rem, 0.6415rem + 1.1321vw, 2rem);
  padding-block: 3rem;
  padding-inline: 2rem;
  margin-block: 0;
  margin-inline: auto;
  font-family: "DM Mono", monospace;
  color: var(--text-color);
  background: var(--background-color);
}

html,
body {
  height: 100vh;
}

ul,
ol {
  list-style: none;
}

:is(img, picture, video, iframe, svg) {
  max-width: 100%;
  display: block;
}

img {
  object-fit: cover;
}

:is(p, h1, h2, h3, h4, h5, h6, li, dl, dt, blockquote) {
  overflow-wrap: break-word;
  hyphens: auto;
}

:is(input, button, textarea, select) {
  font: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media (prefers-reduced-motion) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

a {
  color: var(--primary-color);
  font-weight: 700;
  text-underline-offset: 8px;
}

svg {
  fill: var(--text-color);
  transition: transform 0.2s ease-out;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.9);
  }
}

*:focus-visible,
aside li:focus-within {
  outline: 2px dashed var(--text-color);
  outline-offset: 0.5rem;
  border-radius: 3px;
  text-decoration: none;
}

body > *:not(:last-child) {
  margin-block-end: 2.5rem;
}

.no-wrap {
  white-space: nowrap;
}

.emoji {
  height: 1em;
  width: 1em;
  display: inline-block;
  position: relative;
  bottom: -0.5rem;
}

.invert {
  filter: invert(1);
}

.name {
  font-weight: 700;
  font-size: 1.75em;
  background-image: var(--brand-gradient);
  background-clip: text;
  color: transparent;
  position: relative;

  &:not(:focus)::after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    width: 100%;
    border-style: solid;
    border-image: var(--brand-gradient);
    border-image-slice: 100%;
    border-image-slice: 1;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
    animation: underline 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }
}

.display-none {
  display: none;
}

#contact-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

#bandcamp-logo-inner {
  fill: var(--background-color);
}

#bandcamp-logo-outer {
  fill: var(--text-color);
}

#light-theme-icon,
#dark-theme-icon {
  display: none;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }
}

@keyframes hide {
  to {
    opacity: 0;
  }
}

@keyframes underline {
  to {
    transform: scaleX(1);
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

aside {
  margin-block-start: 3rem;
  position: relative;
}

nav > ul,
.icon-list {
  display: flex;
  gap: 2rem;
}

.theme-btn {
  width: 2.5rem;
  fill: var(--text-color);
}

.letterboxd-bg {
  fill: var(--text-color);
}

.letterboxd-fg {
  fill: var(--background-color);
}
