.emoji {
  height: 1em;
	width: 1em;
	display: inline-block;
}

.light-theme {
  & .emoji {
    filter: invert(1);
  }
}

.name {
	font-weight: 700;
	font-size: 1.75em;
	background-image: var(--brandGradient);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		bottom: -0.5rem;
		left: 0px;
		width: 100%;
		border-style: solid;
		border-image: var(--brandGradient);
		border-image-slice: 100%;
		border-image-slice: 1;
		transform: scaleX(0);
		transform-origin: bottom left;
		transition: transform 0.25s ease-out;
		animation: underline 1s;
		animation-fill-mode: forwards;
		animation-delay: 1s;
	}
}

.icon-list {
	display: flex;
	padding-bottom: 3rem;
	gap: 2rem;

  & > * {
    height: fit-content;
  }
}