/* h1 {
	margin-bottom: 1rem;
}

header {
	margin-bottom: 3.5rem;

  & > p:not(:first-of-type) {
    margin-top: 1em;
  }
}

.name {
	font-weight: 700;
	font-size: 1.75em;
	background-image: var(--brandGradient);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		bottom: -0.5rem;
		left: 0px;
		width: 100%;
		border-style: solid;
		border-image: var(--brandGradient);
		border-image-slice: 100%;
		border-image-slice: 1;
		transform: scaleX(0);
		transform-origin: bottom left;
		transition: transform 0.25s ease-out;
		animation: underline 1s;
		animation-fill-mode: forwards;
		animation-delay: 1s;
	}
}

@keyframes underline {
	to {
		transform: scaleX(1);
	}
} */