:root {
	font-size: 12px;
	--backgroundColor: rgba(255, 192, 203, 1);
	--textColor: rgba(0, 0, 0, 0.92);
	--primaryColor: rgb(140, 31, 98);
	--secondaryColor: rgb(123, 84, 129);
	--brandGradient: linear-gradient(to right,var(--primaryColor),var(--secondaryColor));
  --lightColor: rgba(255, 192, 203, 1);
}


@media (prefers-color-scheme: dark) {
	:root {
		--backgroundColor: rgba(0, 0, 0, 0.92);
		--textColor: rgba(255, 192, 203, 1);
		--primaryColor: rgb(123, 84, 129);
		--secondaryColor: rgb(140, 31, 98);
	}
}

:root.dark-theme {
	--backgroundColor: rgba(0, 0, 0, 0.92);
	--textColor: rgba(255, 192, 203, 1);
	--primaryColor: rgb(123, 84, 129);
	--secondaryColor: rgb(140, 31, 98);
}

:root.light-theme {
	--backgroundColor: rgba(255, 192, 203, 1);
	--textColor: rgba(0, 0, 0, 0.92);
	--primaryColor: rgb(140, 31, 98);
	--secondaryColor: rgb(123, 84, 129);
}