---
import SiteLayout from "@layouts/SiteLayout.astro";
import { createClient } from '@supabase/supabase-js';
const supabase = createClient(import.meta.env.SUPABASE_URL, import.meta.env.SUPABASE_KEY)
const { data, error } = await supabase.from("resources").select("category, title, link");
---
<SiteLayout>
  <p>Ongoing collection of resources that I like, use, or consume.</p>
  <ul>
    {
      data?.map(item => (
        <h2>{item.link}</h2>
        <h2>{item.title}</h2>
        <ul>{item.category}</ul>
    ))
    }
  </ul>
</SiteLayout>
