---
import SiteLayout from "@layouts/SiteLayout.astro";
import { createClient } from "@supabase/supabase-js";
const supabase = createClient( import.meta.env.SUPABASE_URL, import.meta.env.SUPABASE_KEY );
const { data, error } = await supabase.from("uses").select("category, name");
---

<SiteLayout>
  {
    data?.map((item) => (
      <>
        <h2>{item.category}</h2>
        <ul>{item.name}</ul>
      </>
    ))
  }
</SiteLayout>
