---
import SiteLayout from "src/layouts/SiteLayout.astro";
const theme = Astro.cookies.has("theme") ? Astro.cookies.get("theme").value : ``;
---
<SiteLayout theme={theme}>
  <section>
    <h2>Present</h2>
    <ul>
      <li>I like CSS a lot.</li>
      <li>
        I work with an awesome team at <a
          href="https://www.tixtrack.com/"
          target="_blank">TixTrack</a
        >. We use Vue.js.
      </li>
      <li>
        I care <span class="line-through">excessively</span> deeply about Front End
        Architectures.
      </li>
    </ul>

    <h2>Past</h2>
    <ul>
      <li>
        I played bass in a noisy metal band called <a
          href="https://disciplesofwren.bandcamp.com/album/groundswells-2"
          target="_blank">Wren</a
        >.
      </li>
      <li>
        I helped run a very loud music venue called <a
          href="https://www.corsicastudios.com/"
          target="_blank">Corsica Studios</a
        >.
      </li>
      <li>Got a degree in Music and Sonic Media.</li>
    </ul>
  </section>
</SiteLayout>
