---
import SiteLayout from "src/layouts/SiteLayout.astro";
const theme = Astro.cookies.has("theme") ? Astro.cookies.get("theme").value : "";
---
<SiteLayout theme={theme}>
  <section>
    <p>
      I'm Rob Letts, a Front End Developer currently based in Crystal Palace, South London.
    </p>

    <p>
      Prior to 2020 I played bass in a noisy metal band called <a href="https://disciplesofwren.bandcamp.com/album/groundswells" target="_blank">Wren</a>,
      and helped run a music venue / arts club called <a href="https://www.corsicastudios.com/" target="_blank">Corsica Studios</a>.
    </p>

    <p>
      Since then I've been focused on web development, with an emphasis on modern CSS.
      I currently work with an awesome team at <a href="http://tixtrack.com/" target="_blank">TixTrack</a> using Vue.js.
    </p>

    <p>
      Outside of stylesheets, my attention will usually drift towards coffee, CLIs, and roguelikes.
    </p>
  </section>
</SiteLayout>
