---
import coffeeLogo from "../assets/coffee-logo.png";
import waveLogo from "../assets/wave-logo.png";
import Layout from "../layouts/Layout.astro";
import DocumentIcon from "../components/icons/DocumentIcon.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import LetterboxdIcon from "../components/icons/LetterboxdIcon.astro";
import EmailIcon from "../components/icons/EmailIcon.astro";
import LinkedInIcon from "../components/icons/LinkedInIcon.astro";
import ContactButton from "../components/ContactButton.vue";
import ThemeButton from "../components/ThemeButton.vue";

type ButtonResource = { element: `button`, Icon: typeof DocumentIcon }
type LinkResource = { element: `a`, href: string, download?: boolean, Icon: typeof DocumentIcon };

const resources: (ButtonResource | LinkResource)[] = [
  { element: `button`, Icon: EmailIcon },
  { element: `a`, href: `https://www.linkedin.com/in/robertletts/`, Icon: LinkedInIcon },
  { element: `a`, href: `https://github.com/rob-letts`, Icon: GitHubIcon },
  { element: `a`, href: `https://letterboxd.com/robletts/films/diary/`, Icon: LetterboxdIcon },
  { element: `a`, href: `/RobLettsCV.pdf`, download: true, Icon: DocumentIcon },
];
---
<Layout>
  <ThemeButton client:load />

  <header>
    <h1>
      hi there
      <img class="emoji" src={waveLogo} alt="a waving hand emoji" loading="lazy" />
    </h1>

    <p>
      i’m
      <a class="name" href="https://github.com/rob-letts" target="_blank" rel="noopener noreferrer">Rob Letts</a>
      - a front-end web developer based in
      <span class="no-wrap">
        South London.
        <img class="emoji" src={coffeeLogo} alt="a coffee cup emoji" loading="lazy" />
      </span>
    </p>
    <p>specialising in CSS, Vue.js, and TypeScript.</p>
  </header>

  <main>
    <ul class="icon-list">
      {
        resources.map((item) =>
          item.element === "button" ? (
            <li>
              <ContactButton client:load>
                <item.Icon />
              </ContactButton>
            </li>
          ) : (
            <li>
              <a
                href={item.href}
                download={item.download ? "" : null}
                target="_blank"
                rel="noopener noreferrer"
              >
                <item.Icon />
              </a>
            </li>
          )
        )
      }
    </ul>
  </main>
</Layout>