---
import SiteLayout from "src/layouts/SiteLayout.astro";
import SiteLinks from "src/components/SiteLinks.astro";

const theme = Astro.cookies.has("theme") ? Astro.cookies.get("theme").value : "";
---
<SiteLayout theme={theme}>
  <h1>
    hi there
  </h1>

  <p>
    i'm
    <a class="name" href="https://github.com/rob-letts">Rob Letts</a>
    — a front-end web developer based in South London.
  </p>

  <SiteLinks />
  <div class="corner-wobbles"></div>
</SiteLayout>
