---
export const prerender = true;
import SiteLayout from "@layouts/SiteLayout.astro";
import SiteLinks from "@components/SiteLinks.astro";
---
<SiteLayout>
  <h1>
    hi there
    <img class="emoji" src="/wave-logo.png" alt="a waving hand emoji" />
  </h1>

  <p>
    i'm
    <a class="name" href="https://github.com/rob-letts">Rob Letts</a>
    - a front-end web developer based in South London.
  </p>

  <SiteLinks />
</SiteLayout>
