---
import SiteLayout from "src/layouts/SiteLayout.astro";
import { data } from "src/data/uses.json"

const theme = Astro.cookies.has("theme") ? Astro.cookies.get("theme").value : "";

const formattedData = new Map<string, { name: string, content?: string[] }[]>();

data.forEach(item => {
  if (!formattedData.has(item.category)) formattedData.set(item.category, []);
  formattedData.get(item.category)?.push(item);
});
---
<SiteLayout theme={theme}>
  <p>Up-to-date list of stuff I like to use.</p>

  {
    [...formattedData.entries()].sort().map(([category, items]) => {
      return (
        <div>
          <h2>{category}</h2>
          <ul>
            {
              items.map((item) => (
                <li>{item.name}</li>
                <ul class="nested-list">
                  {
                    item.content?.map((content) => (
                      <li>{content}</li>
                    ))
                  }
                </ul>
              ))
            }
          </ul>
        </div>
      )
    })
  }
</SiteLayout>