---
import SiteLayout from "src/layouts/SiteLayout.astro";
---

<SiteLayout>
  <p>Up-to-date list of dev stuff that brings me joy.</p>
  <ul>
    <li>Launcher: Raycast</li>
    <li>Organisation: Notion</li>
    <li>Code Editor: Visual Studio Code</li>
    <li>Terminal: Kitty</li>
    <li>Shell: Zsh</li>
    <li>Prompt: Starship</li>
    <li>Git Interface: Tig</li>
    <li>Window Switcher: AltTab</li>
    <li>Multiplexer: Zellij</li>
    <li>Color Theme: Catppuccin Mocha</li>
    <li>Font: Monolisa</li>
  </ul>
  <p>
    For a comprehensive view of my dev environment config,
    <a href="https://github.com/rob-letts/dotfiles">checkout my dotfiles</a>.
  </p>
</SiteLayout>
