---
import SiteLayout from "src/layouts/SiteLayout.astro";
import { data } from "src/data/uses.json"

const theme = Astro.cookies.has("theme") ? Astro.cookies.get("theme").value : ``;
---
<SiteLayout theme={theme}>
  {
    data?.map(({ category, name }) => (
      <>
        <h2>{category}</h2>
        <ul>{name}</ul>
      </>
    ))
  }
</SiteLayout>