---
import SiteLayout from "@layouts/SiteLayout.astro";
---

<SiteLayout>
  <ul>
    <li>
      Stack:
      <ul>
        <li>HTML</li>
        <li>CSS</li>
        <li>Javascript</li>
        <li>Vite</li>
        <li>SCSS</li>
        <li>TypeScript</li>
        <li>Astro</li>
        <li>PostCSS</li>
        <li>Vue</li>
        <li>Netlify</li>
      </ul>
    </li>
    <li>
      Tools:
      <ul>
        <li>Neovim</li>
        <li>Warp</li>
        <li>Chrome</li>
        <li>Tig</li>
        <li>Raycast</li>
        <li>Ripgrep</li>
      </ul>
    </li>
    <li>
      Work:
      <ul>
        <li>Slack</li>
        <li>Jira</li>
        <li>GitHub</li>
        <li>Figma</li>
      </ul>
    </li>
    <li>
      Apps:
      <ul>
        <li>Feedbin</li>
        <li>Notion</li>
        <li>Bandcamp</li>
        <li>Letterboxd</li>
      </ul>
    </li>
    <li>
      Gear:
      <ul>
        <li>MacBook M1 Pro (14-inch, 2021)</li>
        <li>Keychron K6</li>
        <li>MX Master 3S</li>
        <li>LG</li>
        <li>Monitor 34" Ultrawide</li>
      </ul>
    </li>
  </ul>
</SiteLayout>
