---
const astroPages = await Astro.glob("../pages/*.astro");

function getName(filePath: string, sequenceToRemove: string) {
  return filePath.split("/").at(-1)?.replace(sequenceToRemove, "");
}

const navItems = [
  "/",
  ...astroPages.map(page => getName(page.file, ".astro"))
    .filter(item => item !== "index" && !item?.startsWith("_"))
];
---
<nav class="nav">
  <ul class="nav-items icon-list">
    {navItems.map((item) => (
      <li class="nav-item">
        <a
          href={item}
          class={[item, `/${item}`].includes(Astro.url.pathname) ? "nav-link-active" : "nav-link"}
        >
          {item}
        </a>
      </li>
    ))}
  </ul>
</nav>