---
import BandcampIcon from "src/components/icons/BandcampIcon.astro";
import GitHubIcon from "src/components/icons/GitHubIcon.astro";
import LinkedinIcon from "src/components/icons/LinkedinIcon.astro";
import LetterboxdIcon from "src/components/icons/LetterboxdIcon.astro";
import DocumentIcon from "src/components/icons/DocumentIcon.astro";

type AstroComponent = (_props: Record<string, any>) => any;
type Link = { href: string, icon: AstroComponent }

const links: Link[] = [
  { href: "https://github.com/rob-letts", icon: GitHubIcon },
  { href: "https://www.linkedin.com/in/robertletts/", icon: LinkedinIcon },
  { href: "/RobLettsCV.pdf", icon: DocumentIcon },
  { href: "https://letterboxd.com/robletts/films/diary/", icon: LetterboxdIcon },
  { href: "https://bandcamp.com/robletts", icon: BandcampIcon }
]
---
<aside>
  <ul class="icon-list">
    {
      links.map(link => (
        <li>
          <a
            href={ link.href }
            target="_blank"
            class="icon-list-link"
          >
            <link.icon />
          </a>
        </li>
      ))
    }
  </ul>
</aside>
