---
---
<nav>
  <ul>
    <li>
      <a>About</a>
    </li>
    <li>
      <a>Uses</a>
    </li>
    <li>
      <a>Contact</a>
    </li>
  </ul>
</nav>

<style>
ul {
  display: flex;
  gap: 2rem;
}
</style>
