---
import BandcampIcon from "src/components/icons/BandcampIcon.astro";
import GitHubIcon from "src/components/icons/GitHubIcon.astro";
import LinkedinIcon from "src/components/icons/LinkedinIcon.astro";
import LetterboxdIcon from "src/components/icons/LetterboxdIcon.astro";
import DocumentIcon from "src/components/icons/DocumentIcon.astro";
// import CodepenIcon from "src/components/icons/CodepenIcon.astro";

type AstroComponent = (_props: Record<string, any>) => any;
type Link = { href: string, icon: AstroComponent, label: string }

const links: Link[] = [
  {
    href: "https://github.com/rob-letts",
    icon: GitHubIcon,
    label: "GitHub Profile"
  },
  {
    href: "https://www.linkedin.com/in/robertletts/",
    icon: LinkedinIcon,
    label: "LinkedIn Profile"
  },
  {
    href: "/rob-letts-cv.pdf",
    icon: DocumentIcon,
    label: "Curriculum Vitae"
  },
  {
    href: "https://letterboxd.com/robletts/films/diary/",
    icon: LetterboxdIcon,
    label: "Letterboxd Profile"
  },
  {
    href: "https://bandcamp.com/robletts",
    icon: BandcampIcon,
    label: "Bandcamp Profile"
  }
  // {
  //   href: "https://codepen.io/rob-letts/pens/public",
  //   icon: CodepenIcon,
  //   label: "Codepen Profile"
  // }
]
---
<aside>
  <ul class="icon-list">
    {
      links.map(link => (
        <li>
          <a
            href={ link.href }
            aria-label={ link.label }
            target="_blank"
            class="icon-list-link"
          >
            <link.icon />
          </a>
        </li>
      ))
    }
  </ul>
</aside>