---
const astroPages = await Astro.glob('../pages/*.astro');
const markdownPages = await Astro.glob('../pages/*.md');

function getName(filePath: string, sequenceToRemove: string) {
  return filePath.split('/').at(-1)?.replace(sequenceToRemove, "");
}

const navItems = [
  "/",
  ...astroPages.map(page => getName(page.file, ".astro")).filter(item => item !== 'index'),
  ...markdownPages.map(page => getName(page.file, ".md"))
];
---
<nav>
  <ul>
    {navItems.map((item) => (
      <li>
        <a href={item}>{item}</a>
      </li>
    ))}
  </ul>
</nav>

