---
import SiteLayout from "src/layouts/SiteLayout.astro";
---
<SiteLayout showNav={false} classes="four-oh-four">
    <section>
      <h1>You've gone wrong</h1>
      <a href="/">Find your way</a>
    </section>
</SiteLayout>
