@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');

/* DESIGN SYSTEM
 */
:root {
	font-size: 12px;
	--backgroundColor: rgba(0, 0, 0, 0.92);
	--textColor: rgba(255, 192, 203, 1);
	--primaryColor: rgb(123, 84, 129);
	--secondaryColor: rgb(140, 31, 98);
	--brandGradient: linear-gradient(
		to right,
		var(--primaryColor),
		var(--secondaryColor)
	);
}

body {
	line-height: 1.75;
	font-size: clamp(1rem, 0.6415rem + 1.1321vw, 2rem);
	padding: 5rem 2rem 3rem;
	margin: 0 auto;
	font-family: 'Maven Pro', sans-serif;
	color: var(--textColor);
	background: var(--backgroundColor);
}

/* SETUP / RESET */
*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100vh;
}

ul,
ol {
	list-style: none;
}

img,
picture,
video,
iframe,
svg {
	max-width: 100%;
	display: block;
}

img {
	object-fit: cover;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
dl,
dt,
blockquote {
	overflow-wrap: break-word;
	hyphens: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

@media (prefers-reduced-motion) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* UTILITIES */
.no-wrap {
	white-space: nowrap;
}

.emoji {
	height: 1em;
	width: 1em;
	display: inline-block;
}