---
import "src/styles/base.css";
import SiteNav from "src/components/SiteNav.astro";
import ThemeButton from "src/components/ThemeButton.astro";
const { theme } = Astro.props;
---
<!DOCTYPE html>
<html lang="en" class={theme}>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Contact page for Rob Letts, a Front-End Web Developer.">
  <meta name="generator" content={Astro.generator} />
  <title>Rob Letts Dev</title>
  <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>☕</text></svg>" />
</head>

<body>
  <header>
    <SiteNav />
    <ThemeButton />
  </header>

  <main>
    <slot />
  </main>
</body>
</html>